
html{
	height: 100%;
}

body{
	height: calc(100% - 58px);
}

.container-fluid{
	height: 100%;
}

.tweet-content{
	padding: 1rem;
	margin: 1rem 0;
	background-color: ;
	border: 1px solid lightblue;
	border-radius: 3px;
}

.alert-fixed{
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 999;
	opacity: 0.97;

}

.alert-shadow{
	-webkit-box-shadow: 8px 8px 0px -2px rgba(0,0,0,0.2);
	-moz-box-shadow: 8px 8px 0px -2px rgba(0,0,0,0.2);
	box-shadow: 8px 8px 0px -2px rgba(0,0,0,0.2);
}

.alert-light{
	border: 1px solid #ececf6;
}

.stake-dots span {
    cursor: pointer;
    height: .75rem;
    width: .75rem;
    display: inline-block;
    margin-right: 0.25em;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
}

.stake0.active {
    background-color: rgb(217, 224, 209);
    border-color: rgb(217, 224, 209);
}

.table-leader{
	font-size: 1.1rem;
}

